body {
    font-family: Georgia, Helvetica, Trebuchet, Palatino, Linotype, Serif;
}

#image-container {
    width: 300px;
    margin: 20px;
    float: right;
}

#img {
    width: 100%;
    height: auto;
}

#attribution {
    font-size: 75%;
}

.plrd-paginator a:link {
    border: 1px solid lightslategray;
    color: lightslategray;
    text-decoration: none;
    padding: 5px;
    font-weight: normal;
}

.plrd-paginator a:visited {
    color: lightslategray;
}

.plrd-paginator a:hover {
    font-weight: bold;
}

.plrd-prev::after {
    content: "<";    
}

.plrd-next::after {
    content: ">";
}

.plrd-curr-page a:link {
    border: 1px solid lightslategray;
    background-color: lightslategray;
    color: white;
}

.plrd-curr-page a:visited {
    border: 1px solid lightslategray;
    background-color: lightslategray;
    color: white;
}

.plrd-tag-list a:link {
    color: black;
    text-decoration: none;
}
.plrd-tag-list a:visited {
    color: black;
}
.plrd-tag-list a:hover {
    background-color: lightslategray;
    color: white;
}
.plrd-tag-list a:active {
    background-color: lightslategray;
    color: white;
}

.plrd-word-cloud-keyword a:link {
    color: black;
    text-decoration: none;
}
.plrd-word-cloud-keyword a:visited {
    color: black;
}
.plrd-word-cloud-keyword a:hover {
    background-color: lightslategray;
    color: white;
}
.plrd-word-cloud-keyword a:active {
    background-color: lightslategray;
    color: white;
}

.plrd-home::after {
    content: "All Entries...";
}