/*Blog selectors*/
#plrd-blog-entries {
    
}

.plrd-entry {
    margin-bottom: 50px;
}

.plrd-entry-title {
    font-size: 24px;
    font-weight: bold;
}

.plrd-entry-date {
    color: grey;
    font-size: 14px;
}

.plrd-entry-content {
    
}

.plrd-tag-list {
    
}

.plrd-tag {
    cursor: pointer;
    margin: 3px;
    font-style: italic;
    text-decoration: underline;
}

.plrd-paginator {
    
}

.plrd-page-number {
    
}

.plrd-curr-page {
    
}

.plrd-prev {
    
}

.plrd-next {
    
}
/*******/

/*Word Cloud*/
#plrd-word-cloud {
    width: 33%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightsteelblue;
    line-height: 90%;
}

.plrd-word-cloud-keyword {
    cursor: pointer;
    margin: 4px;
    display: inline-block;
}

.plrd-trendy-keyword {
    font-style: italic;
}

.plrd-keyword-highlighted {
    font-weight: bold;
}
/*******/

.plrd-home {
    color: white;
    background-color: lightslategray;
    border: none;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 25px;
    outline: none;
}